<ion-view style="" id="page3" title="Auction">
    <ion-content class="has-header" padding="true">
        <form class="list" id="auction-form1">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Search" type="search">
            </label>
        </form>
        <div>
            <a ui-sref="menu.product" style="display:block;">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/hEKF7QzWQyehTmAz3BL8_sachin-tendulkar-autographed-bat-M1041a.jpg" height="auto" width="100%">
            </a>
        </div>
        <div style="width: 300px; height: 56px;" class="spacer"></div>
        <h3 style="color: rgb(0, 0, 0);" id="auction-heading1">Leaderboard</h3>
        <ion-list id="auction-list7">
            <ion-item style="" id="auction-list-item11" class="item-avatar">
                <h2>Girish</h2>
            </ion-item>
            <ion-item style="" id="auction-list-item9" class="item-avatar">
                <h2>Nirpeksh</h2>
            </ion-item>
            <ion-item style="" id="auction-list-item10" class="item-avatar">
                <h2>Rajneesh</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>