<ion-view style="" id="page6" title="Product">
    <ion-content class="has-header" padding="true">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <h2 style="color: rgb(0, 0, 0);" id="product-heading4">Sachin's bat</h2>
        <div style="color:#000000;" id="product-markdown3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <h2 style="color: rgb(0, 0, 0);" id="product-heading5">Comments</h2>
        <ion-list id="product-list6">
            <ion-item style="" id="product-list-item15">Item 1</ion-item>
            <ion-item style="" id="product-list-item16">Item 2</ion-item>
            <ion-item style="" id="product-list-item17">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>